@{
    ViewData["Title"] = "Giới thiệu";
}


 <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>GIỚI THIỆU</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Giới thiệu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="assets/IMG_3239.JPG" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">Chúng tôi là <span>KienCook</span></h2>
                    <h4>Về KienCook Fashion Shop</h4> <p>KienCook Fashion Shop là điểm đến lý tưởng dành cho những ai yêu thích thời trang và phong cách cá nhân. Chúng tôi tự hào mang đến những sản phẩm thời trang chất lượng, hợp xu hướng và phù hợp với mọi lứa tuổi. Với phương châm "Đẹp từng khoảnh khắc", KienCook luôn nỗ lực để khách hàng có được trải nghiệm mua sắm tuyệt vời nhất.</p> <p>Đội ngũ của chúng tôi không ngừng cập nhật những xu hướng thời trang mới nhất, đồng thời chú trọng đến chất lượng và dịch vụ khách hàng. Hãy đến với KienCook Fashion Shop để khám phá phong cách của riêng bạn và trở nên tự tin hơn trong từng bước đi!</p>
                </div>
            </div>
           
        </div>
    </div>
    <!-- End About Page -->